/*
ご利用方法
----------------------------*/

.sub__tit {
    max-width: 1000px;
    margin: 0 auto 2.2rem;

    h2 {
        color: #fff;
        padding: .8rem 0;
        background-color: $orange;
        font-size: 1.25rem;
    }
}

.use__flow {
    margin-bottom: 5.8rem;

    .section__inner {
        width: 1000px;

        @media (max-width: 767px) {
            width: 96%;
        }

        p {
            font-size: .96rem;
        }

        a {
            color: $pink;
        }

        .flow__tab {
            text-align: center;
            font-size: 0;
            width: 1000px;
            margin: 0 auto 2.5rem;

            @media (max-width: 767px) {
                width: 100%;
            }

            li {
                display: inline-block;
                padding: .8rem 1.5rem;
                border-bottom: 2px solid #ebebeb;
                font-size: 1.08rem;
                cursor: pointer;
                width: 50%;

                @media (max-width: 767px) {
                    font-size: .8rem;
                }
            }

            li.is-active {
                border-color: #454545;
            }
        }
    }

    .use__flow__content {
        li {
            height: 0;
            opacity: 0;
            overflow: hidden;
            width: 100%;
            transition: ease-in .25s;

            .flow__steps {
                padding: 4.5rem 0;

                @media (max-width: 767px) {
                    padding: 2.5rem 0;
                }

                &:nth-of-type(even) {
                    background-color: #f8f8f8;
                }

                .steps__inner {
                    width: 1000px;
                    margin: auto;

                    @media (max-width: 767px) {
                        width: 94%;
                    }
                }

                .steps__bottom__content {
                    @media (max-width: 767px) {
                        flex-flow: column-reverse;
                    }

                    .thumb {
                        width: 50%;

                        @media (max-width: 767px) {
                            width: 100%;
                        }
                    }

                    .steps__text {
                        width: 43%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-bottom: 1.5rem;
                        }

                        .steps__tit {
                            border-bottom: 1px solid #ebebeb;
                            padding-bottom: 10px;
                            margin-bottom: 1.1rem;
                            font-size: 1.15rem;

                            span {
                                color: $orange;
                                display: inline-block;
                                margin-right: .5rem;
                                font-weight: 600;
                            }
                        }

                        p {
                            font-size: .7rem;
                            line-height: 1.85;
                            margin-bottom: 1.1rem;

                            a {
                                color: $pink;
                            }
                        }
                    }
                }
            }
        }

        li.second {
            .flow__steps {
                background-color: #f8f8f8;

                &:nth-of-type(even) {
                    background-color: #fff;
                }
            }
        }

        li.is-active {
            height: auto;
            opacity: 1.0;
        }
    }
}
